body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #F1F7F7 0%, #047373 53%, #09F8F8 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {

    text-align: center;
    
    top: 118px;
    left: 770px;
    width: 381px;
    height: 349px;

    background: #07BBBB 0% 0% no-repeat padding-box;
    border: 4px solid #109494;
    border-radius: 53px;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }

.login-container {
    width: 50%;
    text-align: center;

    
    width: 135px;
    height: 67px;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}