body {
    margin: 0;
}

.container6{
    background: transparent linear-gradient(180deg, #F1F7F7 0%, #047373 53%, #09F8F8 100%) 0% 0% repeat padding-box;
    min-height: 100vh;
}

.messages{
    color: #09f8f8;
    font: normal normal 600 50px/67px Segoe UI;
}

button{


    background: transparent linear-gradient(180deg, #FFFFFF 0%, #92F3F1 100%) 0% 0% no-repeat padding-box;
    border: 4px solid #109494;
    border-radius: 57px;
    font: normal normal 600 50px/67px Segoe UI;
    width: 33%;
    color: #025C5C;
    margin: 1em;
    line-height: 2.5em;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
}

input{

    background-color: transparent;
    border: none;
    text-align: left;
    font: normal normal 600 50px/67px Segoe UI;
    color: #FFFFFF;
    padding: 0.75em;
    width: 50%;

}


.header1{
    height: 17vh;
    background: transparent linear-gradient(180deg, #BD6C96 0%, #9C2060 40%, #692872 70%, #4A2D7E 100%) 0% 0% no-repeat padding-box;
    border: 10px solid #047373;
    margin: 0;

    display: flex;

}

.logo2{
    margin: 2em;
}

.search-bar2{
    position: absolute;
    top: 21px;
    left: 496px;
    width: 1198px;
    height: 143px;
    background: #025D5D 0% 0% no-repeat padding-box;
    border: 5px solid #050F0F;
}

.hamburger_icon2{
    font-size: 5em;
    color:#561134;
    top: 42px;
    left: 1747px;
    position: absolute;
    width: 98px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 5px solid #32344e;
    border-radius: 27px;
}

.hamburger_icon2>a>i.fas.fa-bars{
    top: 5px;
    left: 14px;
    position: relative;
}

.hamburger_icon2>a:active {
    color: #047373;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: scroll;
}

.slopes>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.slopes>div>div {
    height: 50%;
    color: white;
    text-align: center;
    font: italic normal normal 41px/51px Segoe UI;
    background: transparent linear-gradient(180deg, #CE5FA2 0%, #9A1F5E 53%, #4F1030 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 1em 1em;
}

.slopes>div {
    border: 1px none;
    height: 633px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plus{
    position: absolute;
    top: 46px;
    left: 1593px;
    width: 71px;
    height: 94px;
}

.plus>a{
    text-decoration: none;
}

#plus1{
    text-decoration: none;
    font: normal normal bold 98px/73px Segoe UI;
    color: white;
}

@media only screen and (max-device-width: 1440px) {

    .header1{
        border: 28px solid #047373;
    }


    #im2{
        position: absolute;
        top: 27px;
        left: 354px;
        height: 199px;
        margin: 2em;
    }

    .extraClass{
        font-size: 150px;
    }

    .hamburger_icon2>a>i.fas.fa-bars{

        top: 14px;
        left: 22px;

    }

    .hamburger_icon2{

        top: 335px;
        left: 1182px;
        width: 179px;
        height: 172px;
    }

    .search-bar2 {
        top: 350px;
        left: 112px;
        width: 842px;
    }

    input{
        width: 80%;
    }

    .plus{
        top: 377px;
        left: 837px;
        width: 71px;
        height: 94px;
    }

}