<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/9c10ee4fff.js" crossorigin="anonymous"></script>
    <title>MENU PAGE</title>
</head>
<body>
    <div class="container2">
        <header>
            <div class="header1">
                <div class="logo2">
                    <img src="../img/logo2.svg">
                </div>
                <div class="search-bar">
                    <form >
                        <input class="search-ski-slope" name="Wyszukaj stok" type="text" placeholder="Wyszukaj stok"  >
                    </form>
                </div>
            </div>  
        </header>
        <section class="buttons">
            <div class="hamburger_icon">
                <i class="fas fa-bars" ></i>
                <a href="#" ></a>
            </div>
        </section>
    </div>
</body>
