<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/9c10ee4fff.js" crossorigin="anonymous"></script>
    <title>MENU PAGE</title>
</head>

<body>
    <div class="container2">
        <main>
            <header>
                <div class="search-bar">

                </div>
                <div>logo</div>
            </header>
            <section class="buttons">
                <div>button1</div>
                <div>button2</div>
                <div>button3</div>
                <div>button4</div>
                <div class="hamburger_icon"></div>
            </section>
        </main>
    </div>
</body>
