<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/9c10ee4fff.js" crossorigin="anonymous"></script>
    <title>MENU PAGE</title>
</head>

<body>
    <div class="container2">
        <main>
            <header>
                <div class="logo2">
                    <img src="../img/logo2.svg">
                </div>
                <div class="search-bar">
                    <form >
                        <input name="wyszukaj stok" type="text" placeholder="wyszukaj stok" >
                    </form>
                </div>
            </header>
            <section class="buttons">
                <li>
                    <img src="../img/gora.svg">
                    <a href="#" class="button1">moja lista stoków</a>
                </li>
                <li>
                    <img src="../img/gora.svg">
                    <a href="#" class="button2">mój profil</a>
                </li>
                <li>
                    <img src="../img/gora.svg">
                    <a href="#" class="button3">najlepsze stoki</a>
                </li>
                <li>
                   <!--   <i class="fas fa-mountain"></i>-->
                    <img src="../img/gora.svg">
                    <a href="#" class="button4">czat społeczności</a>
                </li>
                <li>
                    <div class="hamburger_icon">
                        <i class="fas fa-bars"></i>
                        <a href="#" class="burger_icon"></a>
                    </div>
                </li>
            </section>
        </main>
    </div>
</body>
