<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/profil.css">
    <script src="https://kit.fontawesome.com/9c10ee4fff.js" crossorigin="anonymous"></script>
    <title>PROFIL PAGE</title>
</head>
<body>
    <div class="container4">
        <header>
            <div class="logo4">
                <i>nick: Milena_G</i>
                <img id="im4" src="../img/logo2.svg">
            </div>
            <div class="hamburger_icon">
                <a href="#" class="burger_icon">
                    <i  class="fas fa-bars extraClass" ></i>
                </a>
            </div>
            <div>
                <img id="zdj_prof" src="../img/zdj_prof.svg">
            </div>
        </header>
    </div>
</body>