<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/profil.css">
    <script src="https://kit.fontawesome.com/9c10ee4fff.js" crossorigin="anonymous"></script>
    <title>PROFIL PAGE</title>
</head>
<body>
    <div class="container4">
        <header>
            <div class="logo4">
                <i>nick: Milena_G</i>
                <img id="im4" src="../img/logo2.svg">
            </div>
            <div class="hamburger_icon">
                <a href="#" class="burger_icon">
                    <i  class="fas fa-bars extraClass" ></i>
                </a>
            </div>
            <div>
                <img id="zdj_prof" src="../img/zdj_prof.svg">
            </div>
            <div>
                <img id="im5" src="../img/zdj-z-jazdy.svg">
            </div>
        </header>
        <button>
            <img id="im6" src="../img/galeria-zdj.svg">
        </button>
        <button>
            <img id="im7" src="../img/moje-stoki.svg">
        </button>
        <div>
            <img id="im9" src="../img/zdj-gor2.svg">
        </div>
        <div>
            <img id="im8" src="../img/zdj-gor1.svg">
        </div>
        <button>
            <img id="im10" src="../img/czat.svg">
        </button>
        <div>
            <img id="im11" src="../img/skille.svg">
        </div>
        <div class="skille-tekst">
            <i id="narty_i">16 lat jazdy amatorskiej</i>
            <i id="snowboard_i">0 jazdy amatorskiej</i>
        </div>
        <div class="progresbar">
            <div id="narty_pb0" ></div>
            <div id="snowboard_pb0" ></div>
            <div id="narty_pb" ></div>
            <div id="snowboard_pb" ></div>
        </div>
    </div>
</body>