<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/pusta_lista.css">
    <script src="https://kit.fontawesome.com/9c10ee4fff.js" crossorigin="anonymous"></script>
    <title>EMPTY LIST PAGE</title>
</head>
<body>
    <div class="container3">
        <div class="logo3">
            <img id="l3" src="../img/logo3.svg">
        </div>
        <header>
            <div class="search-bar2">
                <input name="rejon" type="text" placeholder=" rejon (np.województwo)" >
            </div>
        </header>
        <div class="hamburger_icon">
            <a href="#" class="burger_icon">
                <i  class="fas fa-bars extraClass" ></i>
            </a>
        </div>
        <main>
            <div>
                <img id="check_background" src="../img/check_background.svg">
            </div>
            <div>
                <img id="nazwa_stoku" src="../img/nazwa_stoku.svg">
            </div>
        </main>
    </div>
</body>